# 1.1 Importing data set

In [107]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [157]:
df=pd.read_csv("AXISBANK.csv")
print(df)

       Symbol Series         Date  Prev Close  Open Price  High Price  \
0    AXISBANK     EQ  15-May-2017      503.00      505.00      508.50
1    AXISBANK     EQ  16-May-2017      500.10      502.10      504.50
2    AXISBANK     EQ  17-May-2017      501.50      501.35      506.75
3    AXISBANK     EQ  18-May-2017      502.80      498.00      499.10
4    AXISBANK     EQ  19-May-2017      492.00      495.75      503.85
..        ...    ...          ...         ...         ...         ...
490  AXISBANK     EQ  07-May-2019      747.45      751.85      755.50
491  AXISBANK     EQ  08-May-2019      741.85      741.90      744.75
492  AXISBANK     EQ  09-May-2019      735.50      733.90      740.50
493  AXISBANK     EQ  10-May-2019      731.00      734.40      738.50
494  AXISBANK     EQ  13-May-2019      735.05      734.00      742.85

     Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0       498.40      500.25       500.10         502.95                8806756
1       493.50      502.05       501.50         499.85                8610492
2       498.50      502.00       502.80         502.88                6443135
3       490.25      492.85       492.00         494.96                9227022
4       494.20      501.90       501.70         499.10                7611430
..         ...         ...          ...            ...                    ...
490     740.00      744.85       741.85         748.48                5071941
491     733.35      735.10       735.50         737.58                6739894
492     729.40      732.35       731.00         734.60                4193451
493     729.50      732.55       735.05         735.71                3913815
494     730.00      732.00       732.10         736.74                5891071

         Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0    4.429384e+09         109965          4320438                   49.06
1    4.303938e+09         101028          4027982                   46.78
2    3.240154e+09          84189          2876528                   44.64
3    4.566993e+09          95624          5348691                   57.97
4    3.798900e+09          72985          4190505                   55.06
..            ...            ...              ...                     ...
490  3.796226e+09         141094          2404026                   47.40
491  4.971211e+09         118950          3373685                   50.06
492  3.080497e+09          75621          1409191                   33.60
493  2.879428e+09         114875          1569735                   40.11
494  4.340174e+09         142075          2615724                   44.40

[495 rows x 15 columns]

In [109]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,AXISBANK,EQ,15-May-2017,503.0,505.00,508.50,498.40,500.25,500.1,502.95,8806756,4.429384e+09,109965,4320438,49.06
1,AXISBANK,EQ,16-May-2017,500.1,502.10,504.50,493.50,502.05,501.5,499.85,8610492,4.303938e+09,101028,4027982,46.78
2,AXISBANK,EQ,17-May-2017,501.5,501.35,506.75,498.50,502.00,502.8,502.88,6443135,3.240154e+09,84189,2876528,44.64
3,AXISBANK,EQ,18-May-2017,502.8,498.00,499.10,490.25,492.85,492.0,494.96,9227022,4.566993e+09,95624,5348691,57.97
4,AXISBANK,EQ,19-May-2017,492.0,495.75,503.85,494.20,501.90,501.7,499.10,7611430,3.798900e+09,72985,4190505,55.06

In [110]:
df['Series'].value_counts()

EQ    494
BL      1
Name: Series, dtype: int64

In [111]:
df=df[df.Series=='EQ']

In [112]:
df.tail(10)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
485,AXISBANK,EQ,26-Apr-2019,740.90,762.00,765.15,747.25,757.40,759.90,756.85,23294204,1.763032e+10,237793,8979081,38.55
486,AXISBANK,EQ,30-Apr-2019,759.90,759.95,769.70,755.80,765.00,766.85,764.69,12434805,9.508771e+09,163833,6203595,49.89
487,AXISBANK,EQ,02-May-2019,766.85,765.40,767.80,748.05,751.95,752.35,759.27,7033021,5.339932e+09,118878,3653935,51.95
488,AXISBANK,EQ,03-May-2019,752.35,754.15,763.80,753.45,754.90,757.30,758.82,5970814,4.530760e+09,139633,2636170,44.15
489,AXISBANK,EQ,06-May-2019,757.30,746.00,753.40,744.10,748.00,747.45,748.59,5909936,4.424131e+09,110405,3340102,56.52
490,AXISBANK,EQ,07-May-2019,747.45,751.85,755.50,740.00,744.85,741.85,748.48,5071941,3.796226e+09,141094,2404026,47.40
491,AXISBANK,EQ,08-May-2019,741.85,741.90,744.75,733.35,735.10,735.50,737.58,6739894,4.971211e+09,118950,3373685,50.06
492,AXISBANK,EQ,09-May-2019,735.50,733.90,740.50,729.40,732.35,731.00,734.60,4193451,3.080497e+09,75621,1409191,33.60
493,AXISBANK,EQ,10-May-2019,731.00,734.40,738.50,729.50,732.55,735.05,735.71,3913815,2.879428e+09,114875,1569735,40.11
494,AXISBANK,EQ,13-May-2019,735.05,734.00,742.85,730.00,732.00,732.10,736.74,5891071,4.340174e+09,142075,2615724,44.40

In [113]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,577.157389,577.892409,585.013866,570.314170,577.619737,577.621154,577.686862,8.746869e+06,5.114755e+09,109034.336032,4.198359e+06,47.726802
std,78.697709,79.154912,79.728238,78.278768,78.941719,78.934500,78.974233,6.230949e+06,3.714674e+09,58759.748772,3.289286e+06,11.953359
min,449.950000,451.650000,457.800000,447.500000,449.800000,449.950000,452.070000,1.245716e+06,6.359149e+08,7548.000000,3.689650e+05,11.200000
25%,516.250000,516.762500,522.500000,509.425000,515.550000,516.550000,516.517500,4.955047e+06,2.685941e+09,67426.250000,2.285326e+06,39.732500
50%,545.575000,546.500000,552.325000,537.650000,546.125000,545.775000,545.825000,7.130792e+06,4.232753e+09,96306.500000,3.251752e+06,46.825000
75%,620.025000,623.412500,628.612500,615.162500,621.087500,620.087500,621.287500,1.027036e+07,6.259857e+09,135852.500000,5.143684e+06,55.637500
max,780.700000,780.950000,787.650000,769.000000,775.800000,780.700000,775.220000,5.885946e+07,3.249514e+10,471549.000000,2.551516e+07,86.320000

In [158]:
df.iloc[:,-1]

0      49.06
1      46.78
2      44.64
3      57.97
4      55.06
       ...
490    47.40
491    50.06
492    33.60
493    40.11
494    44.40
Name: % Dly Qt to Traded Qty, Length: 495, dtype: float64

In [115]:
df.ndim

2

In [116]:
df.shape

(494, 15)

# 1.2 max min and mean for close price for last 90 days

In [117]:
#Choosing the close price column

In [159]:
df1=df.iloc[:,8]
df1

0      500.10
1      501.50
2      502.80
3      492.00
4      501.70
        ...
490    741.85
491    735.50
492    731.00
493    735.05
494    732.10
Name: Close Price, Length: 495, dtype: float64

In [119]:
df1.max()

780.7

In [120]:
df1.min()

449.95

In [121]:
df1.mean()

577.6211538461531

# 1.3 Dealing with date time datatypes

In [122]:
df['Date']=df['Date'].astype('datetime64[ns]')

In [123]:
# Checking format of date column
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 494
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    datetime64[ns]
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 61.8+ KB

In [160]:
df.set_index('Date')

,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
Date,,,,,,,,,,,,,,
15-May-2017,AXISBANK,EQ,503.00,505.00,508.50,498.40,500.25,500.10,502.95,8806756,4.429384e+09,109965,4320438,49.06
16-May-2017,AXISBANK,EQ,500.10,502.10,504.50,493.50,502.05,501.50,499.85,8610492,4.303938e+09,101028,4027982,46.78
17-May-2017,AXISBANK,EQ,501.50,501.35,506.75,498.50,502.00,502.80,502.88,6443135,3.240154e+09,84189,2876528,44.64
18-May-2017,AXISBANK,EQ,502.80,498.00,499.10,490.25,492.85,492.00,494.96,9227022,4.566993e+09,95624,5348691,57.97
19-May-2017,AXISBANK,EQ,492.00,495.75,503.85,494.20,501.90,501.70,499.10,7611430,3.798900e+09,72985,4190505,55.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
07-May-2019,AXISBANK,EQ,747.45,751.85,755.50,740.00,744.85,741.85,748.48,5071941,3.796226e+09,141094,2404026,47.40
08-May-2019,AXISBANK,EQ,741.85,741.90,744.75,733.35,735.10,735.50,737.58,6739894,4.971211e+09,118950,3373685,50.06
09-May-2019,AXISBANK,EQ,735.50,733.90,740.50,729.40,732.35,731.00,734.60,4193451,3.080497e+09,75621,1409191,33.60
10-May-2019,AXISBANK,EQ,731.00,734.40,738.50,729.50,732.55,735.05,735.71,3913815,2.879428e+09,114875,1569735,40.11
13-May-2019,AXISBANK,EQ,735.05,734.00,742.85,730.00,732.00,732.10,736.74,5891071,4.340174e+09,142075,2615724,44.40

In [125]:
max=df['Date'].max()
max

Timestamp('2019-05-13 00:00:00')

In [126]:
min=df['Date'].min()
min

Timestamp('2017-05-15 00:00:00')

In [127]:
min-max

Timedelta('-728 days +00:00:00')

In [128]:
df.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

# 1.4 Monthly VWAP of stock according to month and year.

In [129]:
df = df.reset_index()

In [130]:
# creating year and month columns
df['year'] = pd.DatetimeIndex(df['Date']).year
df['month'] = pd.DatetimeIndex(df['Date']).month

In [131]:
df2=df.groupby(['month','year'])

In [132]:
a=set(df['month'])
b=set(df['year'])

In [133]:
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [134]:
print(b)

{2017, 2018, 2019}

# Grouping dataframe according to year and month

In [135]:
df2.first()

            index    Symbol Series       Date  Prev Close  Open Price  \
month year
1     2018    159  AXISBANK     EQ 2018-01-01      563.95      563.80
      2019    405  AXISBANK     EQ 2019-01-01      619.90      621.90
2     2018    181  AXISBANK     EQ 2018-02-01      593.60      593.60
      2019    428  AXISBANK     EQ 2019-02-01      722.70      720.75
3     2018    200  AXISBANK     EQ 2018-03-01      528.75      524.00
      2019    448  AXISBANK     EQ 2019-03-01      709.55      713.50
4     2018    219  AXISBANK     EQ 2018-04-02      510.50      506.75
      2019    468  AXISBANK     EQ 2019-04-01      777.25      780.95
5     2017      0  AXISBANK     EQ 2017-05-15      503.00      505.00
      2018    240  AXISBANK     EQ 2018-05-02      517.30      518.50
      2019    487  AXISBANK     EQ 2019-05-02      766.85      765.40
6     2017     13  AXISBANK     EQ 2017-06-01      514.05      512.15
      2018    262  AXISBANK     EQ 2018-06-01      545.90      543.00
7     2017     34  AXISBANK     EQ 2017-07-03      517.35      517.10
      2018    283  AXISBANK     EQ 2018-07-02      510.80      510.75
8     2017     55  AXISBANK     EQ 2017-08-01      519.80      518.20
      2018    305  AXISBANK     EQ 2018-08-01      550.40      550.50
9     2017     76  AXISBANK     EQ 2017-09-01      500.35      502.00
      2018    326  AXISBANK     EQ 2018-09-03      649.25      655.45
10    2017     97  AXISBANK     EQ 2017-10-03      509.15      514.00
      2018    344  AXISBANK     EQ 2018-10-01      613.25      615.10
11    2017    117  AXISBANK     EQ 2017-11-01      523.15      524.95
      2018    365  AXISBANK     EQ 2018-11-01      582.40      582.05
12    2017    139  AXISBANK     EQ 2017-12-01      535.40      539.40
      2018    385  AXISBANK     EQ 2018-12-03      625.75      632.00

            High Price  Low Price  Last Price  Close Price  Average Price  \
month year
1     2018      569.80     560.50      562.95       565.50         565.45
      2019      630.20     621.90      628.00       627.30         624.79
2     2018      610.00     586.10      592.45       592.80         597.28
      2019      726.40     705.40      717.30       717.25         717.16
3     2018      535.55     522.00      526.65       525.75         529.37
      2019      714.95     699.55      702.45       702.40         705.25
4     2018      508.50     492.20      499.30       499.05         498.55
      2019      783.00     760.60      762.50       765.60         773.80
5     2017      508.50     498.40      500.25       500.10         502.95
      2018      527.95     515.40      524.85       523.75         521.00
      2019      767.80     748.05      751.95       752.35         759.27
6     2017      515.95     505.50      510.00       509.30         509.17
      2018      544.30     532.85      538.55       536.65         538.51
7     2017      521.80     515.00      517.00       517.25         518.62
      2018      513.80     503.00      511.20       512.25         508.20
8     2017      521.75     514.75      515.30       516.55         517.58
      2018      555.50     538.25      542.30       545.15         544.52
9     2017      509.80     498.50      508.45       507.55         505.36
      2018      655.45     629.60      630.70       631.80         638.73
10    2017      517.00     504.10      506.90       509.65         511.85
      2018      617.50     572.50      592.75       593.45         591.59
11    2017      544.00     524.50      536.00       535.10         537.01
      2018      608.05     582.05      607.20       602.15         595.52
12    2017      539.90     531.90      533.75       533.85         535.77
      2018      633.00     621.60      625.00       624.80         625.49

            Total Traded Quantity      Turnover  No. of Trades  \
month year
1     2018                6943234  3.926021e+09          60203
      2019               12179223  7.609460e+09          61276
2     2018                7839731  4.682508e+09         106898
      2019               13792059  9.891123e+09         208032
3     2018                9827510  5.202366e+09          80903
      2019                7713824  5.440213e+09         116741
4     2018                7120498  3.549906e+09         112010
      2019                6021202  4.659183e+09         133059
5     2017                8806756  4.429384e+09         109965
      2018               25195767  1.312712e+10         139798
      2019                7033021  5.339932e+09         118878
6     2017                8105813  4.127265e+09          50261
      2018                4061137  2.186959e+09          48366
7     2017                3701949  1.919900e+09          50518
      2018                6799910  3.455735e+09          70535
8     2017                4562630  2.361543e+09          66142
      2018                6871812  3.741840e+09         102770
9     2017                4569367  2.309195e+09          63973
      2018                6494484  4.148248e+09          88364
10    2017               10712537  5.483230e+09          59749
      2018               20117451  1.190135e+10         193226
11    2017               22542766  1.210567e+10         208378
      2018               16048865  9.557406e+09         170996
12    2017                7138045  3.824355e+09          49883
      2018                5914250  3.699308e+09          79187

            Deliverable Qty  % Dly Qt to Traded Qty
month year
1     2018          4295836                   61.87
      2019          1364047                   11.20
2     2018          3546561                   45.24
      2019          6105419                   44.27
3     2018          5956431                   60.61
      2019          3785838                   49.08
4     2018          2173809                   30.53
      2019          2504426                   41.59
5     2017          4320438                   49.06
      2018         18143773                   72.01
      2019          3653935                   51.95
6     2017          5638214                   69.56
      2018          1738262                   42.80
7     2017          1560626                   42.16
      2018          3327084                   48.93
8     2017          2865458                   62.80
      2018          1998623                   29.08
9     2017          2452377                   53.67
      2018          2447629                   37.69
10    2017          8183856                   76.40
      2018          9656902                   48.00
11    2017         10435452                   46.29
      2018          6559330                   40.87
12    2017          4046149                   56.68
      2018          3061724                   51.77

In [136]:
# VWAP CALCULATIONS

In [137]:
for name,group in df2:
    print(name)
    # x = sum(group['Close Price'].values*group['Total Traded Quantity'].values)
    # y = sum(group['Total Traded Quantity'].values
    c = sum(group['Close Price'].values*group['Total Traded Quantity'].values)/sum(group['Total Traded Quantity'].values)
    print(c)

(1, 2018)
588.3309988650215
(1, 2019)
667.0667491120594
(2, 2018)
552.8369294690168
(2, 2019)
708.3094354573657
(3, 2018)
515.7451412867308
(3, 2019)
746.1331895651317
(4, 2018)
524.7366491022512
(4, 2019)
760.209313510921
(5, 2017)
503.52673687494416
(5, 2018)
538.4659709552884
(5, 2019)
742.450177043871
(6, 2017)
507.95312200663506
(6, 2018)
525.4378427996711
(7, 2017)
521.841207841312
(7, 2018)
537.2960211633335
(8, 2017)
498.745173877657
(8, 2018)
619.117236117358
(9, 2017)
509.10133201519284
(9, 2018)
626.0338885219205
(10, 2017)
487.4931113596844
(10, 2018)
572.6388047463414
(11, 2017)
541.6088168049578
(11, 2018)
618.7519672542363
(12, 2017)
545.122725840424
(12, 2018)
617.2870413109672

# Now we have the VWAP Values for corresponding months and years.
## 1.5 Function to calculate the average price over the last N days of stock price data where
# N-user-defined parameter

In [138]:
df=df.set_index('Date')
df

,index,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,year,month
Date,,,,,,,,,,,,,,,,,
2017-05-15,0,AXISBANK,EQ,503.00,505.00,508.50,498.40,500.25,500.10,502.95,8806756,4.429384e+09,109965,4320438,49.06,2017,5
2017-05-16,1,AXISBANK,EQ,500.10,502.10,504.50,493.50,502.05,501.50,499.85,8610492,4.303938e+09,101028,4027982,46.78,2017,5
2017-05-17,2,AXISBANK,EQ,501.50,501.35,506.75,498.50,502.00,502.80,502.88,6443135,3.240154e+09,84189,2876528,44.64,2017,5
2017-05-18,3,AXISBANK,EQ,502.80,498.00,499.10,490.25,492.85,492.00,494.96,9227022,4.566993e+09,95624,5348691,57.97,2017,5
2017-05-19,4,AXISBANK,EQ,492.00,495.75,503.85,494.20,501.90,501.70,499.10,7611430,3.798900e+09,72985,4190505,55.06,2017,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-05-07,490,AXISBANK,EQ,747.45,751.85,755.50,740.00,744.85,741.85,748.48,5071941,3.796226e+09,141094,2404026,47.40,2019,5
2019-05-08,491,AXISBANK,EQ,741.85,741.90,744.75,733.35,735.10,735.50,737.58,6739894,4.971211e+09,118950,3373685,50.06,2019,5
2019-05-09,492,AXISBANK,EQ,735.50,733.90,740.50,729.40,732.35,731.00,734.60,4193451,3.080497e+09,75621,1409191,33.60,2019,5
2019-05-10,493,AXISBANK,EQ,731.00,734.40,738.50,729.50,732.55,735.05,735.71,3913815,2.879428e+09,114875,1569735,40.11,2019,5
2019-05-13,494,AXISBANK,EQ,735.05,734.00,742.85,730.00,732.00,732.10,736.74,5891071,4.340174e+09,142075,2615724,44.40,2019,5

In [139]:
def avg_price(N):
    new = str(N)+'D'
    new_df=df.last('{}'.format(new))
    print(pd.Series.mean(new_df['Close Price']))

# Creating another function for profit loss calculations over N days.

In [140]:
def prof_loss_per(N):
    string = str(N)+'D'
    new_df=df.last('{}'.format(string))
    c = (new_df['Close Price'].iloc[0]-new_df['Close Price'].iloc[-1])*100/(new_df['Close Price'].iloc[0])
    if c<0:
        print(str(c*100)+'% loss')
    else:
        print(str(c*100)+'% profit')

In [141]:
#for one week
N = int(input("enter the no of days"))
avg_price(N)
prof_loss_per(N)

enter the no of days7
735.0999999999999
131.42818629102916% profit

In [142]:
#for two week
N = int(input("enter the no of days"))
avg_price(N)
prof_loss_per(N)

enter the no of days14
744.3833333333333
453.1525070091934% profit

In [143]:
#for one month(N=30)
N = int(input("enter the no of days"))
avg_price(N)
prof_loss_per(N)

enter the no of days30
751.0
403.0936619256734% profit

In [144]:
#for three month(N=90)
N = int(input("enter the no of days"))
avg_price(N)
prof_loss_per(N)

enter the no of days90
740.453448275862
-496.0573476702512% loss

In [145]:
#for six month(N=180)
N = int(input("enter the no of days"))
avg_price(N)
prof_loss_per(N)

enter the no of days180
692.0712500000003
-1693.0202842996327% loss

In [146]:
#for one year(N=365)
N = int(input("enter the no of days"))
avg_price(N)
prof_loss_per(N)

enter the no of days365
630.2735772357727
-3265.084254393913% loss

# 1.6 adding a column for daily change in percentages using pandas function pct_change().

In [147]:
df['Day_Perc_Change'] = df['Close Price'].pct_change()

In [148]:
df = df.reset_index()

df = df.drop(0,axis=0)
df

,Date,index,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,year,month,Day_Perc_Change
1,2017-05-16,1,AXISBANK,EQ,500.10,502.10,504.50,493.50,502.05,501.50,499.85,8610492,4.303938e+09,101028,4027982,46.78,2017,5,0.002799
2,2017-05-17,2,AXISBANK,EQ,501.50,501.35,506.75,498.50,502.00,502.80,502.88,6443135,3.240154e+09,84189,2876528,44.64,2017,5,0.002592
3,2017-05-18,3,AXISBANK,EQ,502.80,498.00,499.10,490.25,492.85,492.00,494.96,9227022,4.566993e+09,95624,5348691,57.97,2017,5,-0.021480
4,2017-05-19,4,AXISBANK,EQ,492.00,495.75,503.85,494.20,501.90,501.70,499.10,7611430,3.798900e+09,72985,4190505,55.06,2017,5,0.019715
5,2017-05-22,5,AXISBANK,EQ,501.70,504.00,507.45,499.50,502.00,502.30,503.00,4970982,2.500383e+09,62027,2665857,53.63,2017,5,0.001196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,2019-05-07,490,AXISBANK,EQ,747.45,751.85,755.50,740.00,744.85,741.85,748.48,5071941,3.796226e+09,141094,2404026,47.40,2019,5,-0.007492
490,2019-05-08,491,AXISBANK,EQ,741.85,741.90,744.75,733.35,735.10,735.50,737.58,6739894,4.971211e+09,118950,3373685,50.06,2019,5,-0.008560
491,2019-05-09,492,AXISBANK,EQ,735.50,733.90,740.50,729.40,732.35,731.00,734.60,4193451,3.080497e+09,75621,1409191,33.60,2019,5,-0.006118
492,2019-05-10,493,AXISBANK,EQ,731.00,734.40,738.50,729.50,732.55,735.05,735.71,3913815,2.879428e+09,114875,1569735,40.11,2019,5,0.005540
493,2019-05-13,494,AXISBANK,EQ,735.05,734.00,742.85,730.00,732.00,732.10,736.74,5891071,4.340174e+09,142075,2615724,44.40,2019,5,-0.004013

In [149]:
trend = list()

In [150]:
for i in range(1,494):
    if df['Day_Perc_Change'][i]>-0.5 and df['Day_Perc_Change'][i]<0.5:
        trend.append('Slight or No Change')
    if df['Day_Perc_Change'][i]>0.5 and df['Day_Perc_Change'][i]<1:
        trend.append('Slight Positive')
    if df['Day_Perc_Change'][i]>-1 and df['Day_Perc_Change'][i]<-0.5:
        trend.append('Slight Negative')
    if df['Day_Perc_Change'][i]>1 and df['Day_Perc_Change'][i]<3:
        trend.append('Positive')
    if df['Day_Perc_Change'][i]>-3 and df['Day_Perc_Change'][i]<-1:
        trend.append('Negative')
    if df['Day_Perc_Change'][i]>3 and df['Day_Perc_Change'][i]<7:
        trend.append('Among Top gainers')
    if df['Day_Perc_Change'][i]>-7 and df['Day_Perc_Change'][i]<-3:
        trend.append('Among Top Losers')
    if df['Day_Perc_Change'][i]>7:
        trend.append('Bull Run')
    if df['Day_Perc_Change'][i]<-7:
        trend.append('Bear Drop')

In [151]:
df['Trends']=trend

In [152]:
df

,Date,index,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,year,month,Day_Perc_Change,Trends
1,2017-05-16,1,AXISBANK,EQ,500.10,502.10,504.50,493.50,502.05,501.50,499.85,8610492,4.303938e+09,101028,4027982,46.78,2017,5,0.002799,Slight or No Change
2,2017-05-17,2,AXISBANK,EQ,501.50,501.35,506.75,498.50,502.00,502.80,502.88,6443135,3.240154e+09,84189,2876528,44.64,2017,5,0.002592,Slight or No Change
3,2017-05-18,3,AXISBANK,EQ,502.80,498.00,499.10,490.25,492.85,492.00,494.96,9227022,4.566993e+09,95624,5348691,57.97,2017,5,-0.021480,Slight or No Change
4,2017-05-19,4,AXISBANK,EQ,492.00,495.75,503.85,494.20,501.90,501.70,499.10,7611430,3.798900e+09,72985,4190505,55.06,2017,5,0.019715,Slight or No Change
5,2017-05-22,5,AXISBANK,EQ,501.70,504.00,507.45,499.50,502.00,502.30,503.00,4970982,2.500383e+09,62027,2665857,53.63,2017,5,0.001196,Slight or No Change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,2019-05-07,490,AXISBANK,EQ,747.45,751.85,755.50,740.00,744.85,741.85,748.48,5071941,3.796226e+09,141094,2404026,47.40,2019,5,-0.007492,Slight or No Change
490,2019-05-08,491,AXISBANK,EQ,741.85,741.90,744.75,733.35,735.10,735.50,737.58,6739894,4.971211e+09,118950,3373685,50.06,2019,5,-0.008560,Slight or No Change
491,2019-05-09,492,AXISBANK,EQ,735.50,733.90,740.50,729.40,732.35,731.00,734.60,4193451,3.080497e+09,75621,1409191,33.60,2019,5,-0.006118,Slight or No Change
492,2019-05-10,493,AXISBANK,EQ,731.00,734.40,738.50,729.50,732.55,735.05,735.71,3913815,2.879428e+09,114875,1569735,40.11,2019,5,0.005540,Slight or No Change
493,2019-05-13,494,AXISBANK,EQ,735.05,734.00,742.85,730.00,732.00,732.10,736.74,5891071,4.340174e+09,142075,2615724,44.40,2019,5,-0.004013,Slight or No Change

# 1.8 Finding average and median values of the column Total Traded Quantity

In [153]:
df4=df.groupby('Trends')
for name,group in df4:
    print(name)
    print("Median : " + str(pd.Series.median(group['Total Traded Quantity'])))
    print("Average : " + str(pd.Series.mean(group['Total Traded Quantity'])))

Slight or No Change
Median : 7130411.0
Average : 8746747.419878297

In [154]:
df

,Date,index,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,year,month,Day_Perc_Change,Trends
1,2017-05-16,1,AXISBANK,EQ,500.10,502.10,504.50,493.50,502.05,501.50,499.85,8610492,4.303938e+09,101028,4027982,46.78,2017,5,0.002799,Slight or No Change
2,2017-05-17,2,AXISBANK,EQ,501.50,501.35,506.75,498.50,502.00,502.80,502.88,6443135,3.240154e+09,84189,2876528,44.64,2017,5,0.002592,Slight or No Change
3,2017-05-18,3,AXISBANK,EQ,502.80,498.00,499.10,490.25,492.85,492.00,494.96,9227022,4.566993e+09,95624,5348691,57.97,2017,5,-0.021480,Slight or No Change
4,2017-05-19,4,AXISBANK,EQ,492.00,495.75,503.85,494.20,501.90,501.70,499.10,7611430,3.798900e+09,72985,4190505,55.06,2017,5,0.019715,Slight or No Change
5,2017-05-22,5,AXISBANK,EQ,501.70,504.00,507.45,499.50,502.00,502.30,503.00,4970982,2.500383e+09,62027,2665857,53.63,2017,5,0.001196,Slight or No Change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,2019-05-07,490,AXISBANK,EQ,747.45,751.85,755.50,740.00,744.85,741.85,748.48,5071941,3.796226e+09,141094,2404026,47.40,2019,5,-0.007492,Slight or No Change
490,2019-05-08,491,AXISBANK,EQ,741.85,741.90,744.75,733.35,735.10,735.50,737.58,6739894,4.971211e+09,118950,3373685,50.06,2019,5,-0.008560,Slight or No Change
491,2019-05-09,492,AXISBANK,EQ,735.50,733.90,740.50,729.40,732.35,731.00,734.60,4193451,3.080497e+09,75621,1409191,33.60,2019,5,-0.006118,Slight or No Change
492,2019-05-10,493,AXISBANK,EQ,731.00,734.40,738.50,729.50,732.55,735.05,735.71,3913815,2.879428e+09,114875,1569735,40.11,2019,5,0.005540,Slight or No Change
493,2019-05-13,494,AXISBANK,EQ,735.05,734.00,742.85,730.00,732.00,732.10,736.74,5891071,4.340174e+09,142075,2615724,44.40,2019,5,-0.004013,Slight or No Change

# 1.9 Saving the dataframe

In [161]:
df.to_csv("week2.csv")

In [162]:
df.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')